<!DOCTYPE html>
<html>
  <head>
    <!-- Front Matter and Meta Data Follows -->
    {% render 'core/analytics.liquid' %}
    <title>{{ title }} | {{ meta.description }}</title>
    {% render 'core/meta.liquid' %}
    <meta name="description" content="{{ meta.description | escape }}">
    <meta name="keywords" content="{{ meta.keywords  }}">

    {% render 'core/link.liquid' %}
  </head>
  <body>

    {% render 'core/header.liquid' %}

    <section>
      <div>
        <!-- Main Content Will Follow -->
        {{ content }}
      </div>
    </section>

    {% render 'core/footer.liquid' %}

    {% render 'core/script.liquid' %}

  </body>
</html>